/* color palette:
sandy brown: #F4A460
nude: #E3BC9A
wheat: #F5DEB3
cornsilk:#FFF8DC
dusty rose: #dcae96
papaya whip: #ffefd5
peach puff: #ffdab9
oatmeal: #D0C4AB
beige: #f5f5dc
 */

.homeTitle {
  color: #f4a460 !important;
  text-align: center;
}

.sideheading {
  color: #f4a460;
}

.custom-post-form {
  max-width: 400px; /* Adjust the max-width to your preference */
  margin: 0 auto;
  border: 1px solid #ddd; /* Add a 1px solid border with a light gray color */
  padding: 20px;
  background-color: #ffefd5; /* Center the form horizontally */
}

.custom-form-control {
  margin-bottom: 10px; /* Add space below each form control */
}

.custom-submit-button {
  background-color: #f4a460;
  color: #fff;
  border: 1px solid #007bff;
}

.delete-button {
  background-color: #dcae96;
  color: red;
}
.button-container {
  margin-right: 10px;
}

.spaced-button {
  margin-right: 10px;
}
