/* color palette:
sandy brown: #F4A460
nude: #E3BC9A
wheat: #F5DEB3
cornsilk:#FFF8DC
dusty rose: #dcae96
papaya whip: #ffefd5
peach puff: #ffdab9
oatmeal: #D0C4AB
beige: #f5f5dc
 */

.homeTitle {
  color: #f4a460 !important;
  text-align: center;
}

.sideheading {
  color: #f4a460;
}
