/* color palette:
sandy brown: #F4A460
nude: #E3BC9A
wheat: #F5DEB3
cornsilk:#FFF8DC
dusty rose: #dcae96
papaya whip: #ffefd5
peach puff: #ffdab9
oatmeal: #D0C4AB
beige: #f5f5dc
 */

.scrollComment {
  background-color: #ffefd5;
}

.comments {
  background-color: #ffefd5;
}
