/* color palette:
sandy brown: #F4A460
nude: #E3BC9A
wheat: #F5DEB3
cornsilk:#FFF8DC
dusty rose: #dcae96
papaya whip: #ffefd5
peach puff: #ffdab9
oatmeal: #D0C4AB
beige: #f5f5dc
 */

.scrollComment {
  background-color: #ffefd5;
}

.comments {
  background-color: #ffefd5;
}

.mr-auto {
  font-weight: bold;
}
.custom-submit-button {
  background-color: #f4a460;
  color: #fff;
  border: 1px solid #007bff;
  padding-top: 10px;
}

.sideheading {
  color: #f4a460;
}
